body {
background-color: rgba(255,255,230,0.8);
}

nav.navbar {
  background-color: rgba(255,255,230,0.8);
}

.navbar-left li {
  vertical-align: middle;
  margin-left: 80px;
}
.navbar-right {
  margin-top: 22px;
  margin-right: 50px;
}

.navbar-right li {
  margin-right: 100px;
  vertical-align: middle;
}

.jumbotron {
  margin-right: -40px;
  margin-left: -40px;
  background-color: rgba(0,0,0,0);
}

img {
  margin-left: -20px;
  margin-right: -20px;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 20px;
}

#bottombar{
  background-color: rgba(255,255,230,0.8);
  text-align: center;
  text-align-last: right;
  padding-right: 100px;
  padding-top: 2%;
}

#social-buttons {
  padding-top: 20px;
}

#social-buttons button {
  margin-right: 20px;
  color: rgba(255,255,255,1);
}

.btn-twitter {
  background-color: #00aced;
}
.btn-facebook {
  background-color: #3b5998;
}
.btn-pinterest {
  background-color: #cb2027;
}
.btn-stumbleupon {
  background-color: #EB4823;
}

address {
  margin-left: -20px;
}

.btn-sm {
  background-color: rgba(0,0,0,0);
}
/*a :link {
  color: rgba(255,0,0,0.4);
}
a :visited {
  color: rgba(0,255,0,0.4);
}
a :hover {
  color: rgb(255,0,0);
}*/

}
/*#topbar {
  background-color: rgba(255,255,230,0.3);
  color: rgba(0,0,0,1);
  text-align: center;
  margin: 20px, 20px, 20px, 20px;
}

#topbar a{
  color: rgba(0,0,100,0.3);
}

ul {
  padding: 10px,10px,10px,10px;
}

li {
  padding: 0px,40px,0px,40px;
}*/
